body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 40px;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: 0;
  font-weight: normal;
  color: #666;
}

hr {
  margin: 30px 0;
}

.project {
  margin-bottom: 40px;
}

a {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.footer-links {
  margin-top: 40px;
}
